---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/homepage/Hero";
import News from "../components/sections/homepage/News";
import InstaReels from "../components/sections/homepage/InstaReels";
import Awards from "../components/sections/homepage/Awards";
// import McsLife from "../components/sections/homepage/McsLife";
import EduLevels from "../components/sections/homepage/EduLevels";
import Admission from "../components/sections/homepage/Admission";
import FutureTrends from "../components/sections/homepage/FutureTrends";
import Partnerships from "../components/sections/homepage/Partnerships";
import Achievements from "../components/sections/homepage/Achievements";
import Alumni from "../components/sections/homepage/Alumni";

import { client } from "../lib/sanity";
import { newsListingQuery } from "../lib/queries/news";
import { instaReelsQuery } from "../lib/queries/instaReels";
import { awardsQuery } from "../lib/queries/awards";
import { bannersByCategoryQuery } from "../lib/queries/banner";

const news = await client.fetch(newsListingQuery);
const instaReels = await client.fetch(instaReelsQuery);
const awards = await client.fetch(awardsQuery);

const classXIIBanners = await client.fetch(bannersByCategoryQuery, {
	category: "class-xii",
});

const classXBanners = await client.fetch(bannersByCategoryQuery, {
	category: "class-x",
});

const studentBanners = await client.fetch(bannersByCategoryQuery, {
	category: "student-achievers",
});

// normalize once
const normalize = (items: any[]) =>
	items.map((b: { _id: any; title: any; image: { asset: { url: any; }; }; }) => ({
		_id: b._id,
		title: b.title,
		imageUrl: b.image.asset.url,
	}));

---

<Layout
	title="MCS Pathankot | Montessori Cambridge School | Top Boarding School in Pathankot, Punjab and North India region."
	description="Montessori Cambridge School is a top boarding school delivering quality education, modern hostels, sports excellence, and all-round student development."
	pubDate={new Date()}
>
	<main class="w-full">
		<Hero client:load/>
		<News news={news} />
		<InstaReels reels={instaReels} client:load/>
		<Achievements
			classXII={normalize(classXIIBanners)}
			classX={normalize(classXBanners)}
			students={normalize(studentBanners)}
			client:load
		/>
		<Awards awards={awards} client:load/>
		<EduLevels client:load/>
		<Admission/>
		<FutureTrends client:load/>
		<!-- <McsLife client:load /> -->
		<Alumni/>
		<Partnerships/>
	</main>
</Layout>
